<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="Index.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Home</h1>
    </header>
    <h1>Hello World I am an Index.html file located in the views folder.</h1>
    <h1><%= text %></h1>
    <script src="Index.js"></script>
  </body>
</html>
58 html boilerplateHtml By Tasa on Mar 10 2020 ThankCommentSuggest EditShare
